<h1><%= title %></h1>

<p><%= description %></p>


<form class="form-inline" method="post">
	<div class="form-group">
		<label for="name">Name:</label>
		<input type="text" name="name" id="name" required />
	</div>

	<div class="form-item">
		<label for="email">Email:</label>
		<input type="email" name="email" class="form-control" id="email" placeholder="Email" required />
	</div>

	<div class="form-item">
		<label for="message">Message:</label>
		<textarea type="message" name="message" id="email" required> </textarea>
	</div>

	<button type="submit" class="btn btn-default">XD</button>
</form>
