<h1>Welcome to my chat room</h1>

<p>Talk everthing</p>

<div id="chatroom"></div>

<form action="" method="post" class="chatbox">
	<input type="text" name="message">
	<input type="submit" value="Send">
</form>

<p class="connected">Connected users:<span id="client-count">0</span></p>

<script type="text/template" id="user-template">	
	<% if ( typeof displayName !== "undefined" ) { %>
		<p><%= displayName %></p>
	<% } %>	
</script>

<div id="user-card">
	
</div>


<div>
	<ul>
		<li><a href="#settings">Setting</a></li>
		<li><a href="#apple">Get Apple</a></li>
	</ul>
</div>











